---
import { getCollection, type CollectionEntry } from 'astro:content'
import { Temporal } from '@js-temporal/polyfill'
import Layout from '../../layouts/Layout.astro'
import { BlogCard } from '../../components/BlogCard'

const posts: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .filter((post: CollectionEntry<'blog'>) => post.data.status !== 'draft' && post.data.status !== 'concept')
  .sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => Temporal.PlainDate.compare(b.data.pubDate, a.data.pubDate));
---

<Layout title="All posts">
  <h1 class="text-3xl font-bold mb-8">All posts</h1>
  <div class="space-y-8">
    {
      posts.map(post => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          pubDate={Temporal.PlainDate.from(post.data.pubDate)}
          href={`/blog/${post.id.replace(/^src\/content\/blog\//, '').replace(/\/index\.mdx$/, '').replace(/\.mdx?$/, '')}/`}
          labels={post.data.labels}
          client:visible
        />
      ))
    }
  </div>
</Layout>
