---
import { getCollection, type CollectionEntry } from 'astro:content'
import { Temporal } from '@js-temporal/polyfill'
import Layout from '../layouts/Layout.astro'

const posts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => Temporal.PlainDate.compare(b.data.pubDate, a.data.pubDate));
---

<Layout title="Blog Posts">
  <h1>Blog Posts</h1>
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={`/blog/${post.id.replace(/\/index\.mdx$/, '').replace(/\.mdx?$/, '')}/`}>{post.data.title}</a>
          <p>
            <small>
              Published on:
              {post.data.pubDate.toLocaleString()}
            </small>
          </p>
          <p>{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</Layout>
