---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="prose prose-lg dark:prose-invert max-w-3xl mx-auto py-12">
    <h1>About Me</h1>
    <p>
      This is the about page. It's a placeholder for now, but will eventually contain
      more information about the author and the blog.
    </p>
  </main>
</Layout>
