---
import Layout from '../layouts/Layout.astro'
import { SITE_DESCRIPTION } from '../consts'
---

<Layout title="About">
  <main class="prose prose-lg dark:prose-invert max-w-3xl mx-auto py-12">
    <h1>About</h1>
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
      This blog is a collection of technical deep dives, quick tips, and lessons learned from the
      trenches of software development.
    </p>
  </main>
</Layout>
