---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main>
    <h1>All Bugs Are Fixed</h1>
    <p>
      Well, maybe not <em>all</em> of them. But we're working on it. This blog is a collection of
      technical deep dives, quick tips, and lessons learned from the trenches of software
      development.
    </p>
    <p><a href="/blog/">Read the Latest Posts</a></p>
  </main>
</Layout>
