---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to All Bugs Are Fixed">
  <main>
    <h1>Welcome to All Bugs Are Fixed</h1>
    <p>This is the beginning of a beautiful blog.</p>
    <p><a href="/blog/">View Blog Posts</a></p>
  </main>
</Layout>
