---
import katex from 'katex'

interface Props {
  formula: string
  inline?: boolean | string
}

const { formula } = Astro.props
const inline = Astro.props.inline === true || Astro.props.inline === 'true'
const html = katex.renderToString(formula, {
  throwOnError: false,
  displayMode: !inline,
});
---

{
  inline
    ? (
        <span set:html={html} class="inline-block" />
      )
    : (
        <div class="overflow-x-auto overflow-y-hidden my-4 text-center max-w-full">
          <span set:html={html} class="inline-block" />
        </div>
      )
}
