name: Build Astro site

on:
  push:
    branches-ignore:
      - "main"
      - "gh-pages"
      - 'dependabot/**' #avoid duplicates: only run the PR, not the push
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint:
    runs-on: ubuntu-latest
    if: (github.event_name != 'pull_request' && ! github.event.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && (github.event.pull_request.head.repo.fork || startsWith(github.head_ref, 'dependabot/')))
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node, PNPM, and Cache
        uses: ./.github/actions/setup-node-pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint code
        run: pnpm lint

  build:
    runs-on: ubuntu-latest
    needs: lint
    if: (github.event_name != 'pull_request' && ! github.event.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && (github.event.pull_request.head.repo.fork || startsWith(github.head_ref, 'dependabot/')))
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node, PNPM, and Cache
        uses: ./.github/actions/setup-node-pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build site
        run: pnpm build
